/* Custom styles for the T-Shirt Size Predictor */

#predictBtn {
  margin-top: 30px;
}

#result {
  display: none;
}

#result.show {
  display: block;
}

#tShirtImages img {
  max-width: 100px;
  margin-right: 10px;
}
